
.git
.gitignore

venv
env
.venv
.env

__pycache__
*.pyc
*.pyo
*.pyd

.vscode
.idea

results
reports
output
ollama_storage

finetuning
knowledge
_archived

docker-compose.yml
docker/Dockerfile
run_project_in_docker_windows.bat


# Ignore everything in data dir except 'soc_alerts_and_ground_truth_data.xlsx'
data/*
!data/soc_alerts_and_ground_truth_data.xlsx